[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.1"
djangorestframework = "==3.14.0"
django-bootstrap5 = "==23.4"

[dev-packages]
flake8 = "==7.0.0"
flake8-commas = "==2.1.0"
mypy = "==1.8.0"
yapf = "==0.40.2"

[requires]
python_version = "3.11"
